body{
    margin-left: 300px;
    margin-right: 300px;
}
.smoke{
    position: absolute;
    margin-top: 30px;
    margin-left: 28%;
    transform: translate(-30%,-30%);
    cursor: pointer;
}

.smoke span{
    position: relative;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 30px;
    animation: glow 3s ease-in-out infinite;
    animation-delay: var(--delay);
}
.smoke span:nth-child(1){
    animation-delay:0s;
}
.smoke span:nth-child(2){
    animation-delay:0.25s;
}
.smoke span:nth-child(3){
    animation-delay:0.5s;

}
.smoke span:nth-child(4){
    animation-delay:0.75s;
}
.smoke span:nth-child(5){
    animation-delay:1s;
}
.smoke span:nth-child(6){
    animation-delay:1.25s;
    
}
.smoke span:nth-child(7){
    animation-delay:1.5s;
}
@keyframes glow{
    30%,
    100%{
        color: var(--color);
        text-shadow:0 0 20px #0652dd,0 0 20px #0652dd;
    }
    40%,
    90%{
        color:#ebeef1;
        text-shadow: none;
    }
}

.main{
    width: 100%;
    background-position: center;
    background-color: #ebeef1;
    background-size: cover;
    height: 70px;
    box-shadow: 10px 10px 8px -8px rgba(15, 95,174,0.20),-10px -10px 8px -8px rgba(255,255,255,0.70);
    border-radius: 20px;
    margin-top: 20px;

}
.main{
    box-shadow: 10px 10px 8px -8px rgba(10, 90,169,0.16),-10px -10px 8px -8px rgba(255,255,255,0.70);

}
.navbar{
    position: relative;
    height: 75px;
    width: 1200px;
    margin: auto;
}
.icon{
    height: 70px;
    width: 200px;
    float: left;
}
ul{
    float: left;
    justify-content: center;
    display: flex;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 16px;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    color: white;
    position: relative;
}
ul li a{
    text-decoration: none;
    color:black;
}
.manu{
    height: 70px;
    float: right;
    margin-right: 100px;
    cursor: pointer;	
}
 .manu ul li::after{
    height: 3px;
    content: '';
    width: 0;
    background:#009688; 
    position: absolute;
    left: 0;
    bottom: 0;
     transition: 0.5s;
}
.manu ul li:hover::after{
    width: 100%;
    
}
.logo{
    margin-left: 30px;
    margin-top: 5px;
}
.product_logo{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    margin-top: 100px;
}
.product_logo{
    box-shadow: inset 10px 10px 8px -8px rgba(10, 90,169,0.16),inset -10px -10px 8px -8px rgba(255,255,255,0.70);
    height: 80px;
    width: 100%;
    border-radius: 30px;
    animation: 1px;
    
}
.product_logo a img:hover{
    transform: scale(3);
}
.main_product{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, auto));
    grid-gap: 3rem;
    align-items: flex-end;
    margin-top: 40px;
}
.box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 8px -8px rgba(10, 90,169,0.16),-10px -10px 8px -8px rgba(255,255,255,0.70);
    padding: auto;
/*			margin-top: 5rem;*/
    height: 355px;
    width: 200px;
    border-radius: 10px;
    justify-content: space-between;
}

.box_img{
    text-align: center;
    justify-content: flex-end;
    margin-top: 30px;
    
}
.box:hover{
    transform: scale(1.05);
}
.footer{
    margin-top: 100px;
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.footer{
    align-items: flex-start;
    background-color:black;
    color: white;
    
}
.footer p{
    line-height: 30px;
}
.button{	
    width: 160px;
    font-size: 22px;
    font-weight: 50px;
    padding: 2px;
    margin-bottom: 20px;
    background: #ebeef1;
    cursor: pointer;
    border-radius: 50px;
    color: red;
    box-shadow: 10px 10px 8px -8px rgba(10, 90,169,0.16),-10px -10px 8px -8px rgba(260,260,260,0.75);
}
    .button:hover{
    transform: scale(1.1)
}
.promotion_slide{
    overflow: hidden;
}
.promotion_slide figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation:   25s slider infinite alternate;
    cursor: pointer;
}
.promotion_slide figure img{
    float: left;
    width: 20%;
}
@keyframes slider{
    0%{left: 0;}
    20%{left:0;}
    25%{left: -100%;}
    45%{left: -100%;}
    50%{left: -200%;}
    70%{left: -200%;}
    75%{left: -300%;}
    95%{left: -300%;}
    100%{left:-300%;}
}
.main_slide{
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    width: 600px;
    float:left;
    box-shadow: 10px 10px 8px -8px rgba(10, 90,169,0.16),-10px -10px 8px -8px rgba(260,260,260,0.75);
    border-radius: 20px;
}
.kh_en:hover{
    transform: scale(1.2);
}
.h1{
    font-size: 12px;
    text-align: center;
}
/*
.button{
    margin-left: 50px;
}
*/

.margin{
    margin-top: 47px;
}
.a{
     text-decoration: none;
}
/*
#center{
    margin-top: 95px;
}
*/
#v1{
    margin-top: 50px;
    padding: 3px;
}
#v2{
    margin-top: 43px;
}
/*
#v3{
    margin-top: 70px;
}
*/
.h_1{
    margin-top: 60px
}
img:hover{
    transform: scale(1.1,1.1);
}
.margin_1{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 40px;
}