body{
    margin-left: 300px;
    margin-right: 300px;
}
.smoke{
    position: absolute;
    margin-top: 30px;
    margin-left: 30%;
    transform: translate(-30%,-30%);
}

.smoke span{
    position: relative;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 30px;
    animation: glow 3s ease-in-out infinite;
    animation-delay: var(--delay);
}
.smoke span:nth-child(1){
    animation-delay:0s;
}
.smoke span:nth-child(2){
    animation-delay:0.25s;
}
.smoke span:nth-child(3){
    animation-delay:0.5s;

}
.smoke span:nth-child(4){
    animation-delay:0.75s;
}
.smoke span:nth-child(5){
    animation-delay:1s;
}
.smoke span:nth-child(6){
    animation-delay:1.25s;
    
}
.smoke span:nth-child(7){
    animation-delay:1.5s;
}
@keyframes glow{
    30%,
    100%{
        color: var(--color);
        text-shadow:0 0 50px #0652dd,0 0 100px #0652dd;
    }
    40%,
    90%{
        color:rgba(186,186,186,1.00);
        text-shadow: none;
    }
}

.main{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 70px;
     background-color: rgba(186,186,186,1.00);
    border-radius: 20px;
}
.navbar{
    position: relative;
    height: 75px;
    width: 1200px;
    margin: auto;
}
.icon{
    height: 70px;
    width: 200px;
    float: left;
}
.manu{
    height: 70px;
    float: right;
    margin-right: 100px;
    
}
ul{
    float: left;
    justify-content: center;
    display: flex;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 16px;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    color: white;
    position: relative;
}
ul li a{
    text-decoration: none;
    color: white;
}
/*
ul li a:hover{
    color: yellow;
    box-shadow: 0 0 20px yellow;
}
*/
 .manu ul li::after{
    height: 3px;
     content: '';
    width: 0;
    background:#009688; 
    position: absolute;
    left: 0;
    bottom: 0;
     transition: 0.5s;
}
.manu ul li:hover::after{
    width: 100%;
}
.logo{
    margin-left: 30px;
    margin-top: 5px;
}
.about h3{
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    color: black;
}
.about{
    text-align: justify;
    
}
.about p{
    line-height: 30px;
}
.footer{
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.footer{
    align-items: flex-start;
    background-color: rgba(235,233,233,1.00);
    
}
.footer p{
    line-height: 30px;
}